body{
  background-color:lightgoldenrodyellow;
  background-image: url(./images/zlybg.PNG);
  background-size: cover;
}
/* toto by bolo dobre keby fungovalo
.app>div{
  display: grid;
  height: 85vh;
}
*/
.landingPage{
  display: grid;
  height: 85vh;
  grid-template-rows: 50% 20% 15% 15%;
}

h2{
  text-align: center;
  font-size: 3em;
}

.searchPage{
  display: grid;
  height: 85vh;
  grid-template-rows: 30% auto;
}
